.coin-area{
    margin-top:35px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}


.coin{

    width:300px;
    height:300px;

    border-radius:50%;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;


    background:
    radial-gradient(
    circle at 30% 25%,
    #fffbd0 0%,
    #ffd94a 20%,
    #ffb300 55%,
    #d87900 100%
    );


    color:white;

    font-size:120px;

    font-weight:900;


    box-shadow:

    0 0 25px #ffd000,
    0 0 80px rgba(255,190,0,.45),
    inset 0 -25px 35px rgba(150,70,0,.4),
    inset 0 15px 25px rgba(255,255,255,.5);


    transition:
    transform .15s cubic-bezier(.25,1.5,.5,1),
    box-shadow .15s;


    user-select:none;

}



.coin::before{

    content:"";

    position:absolute;

    top:20px;
    left:35px;

    width:90px;
    height:45px;

    border-radius:50%;

    background:
    rgba(255,255,255,.35);

    transform:rotate(-25deg);

}



.coin-ring{

    position:absolute;

    width:350px;
    height:350px;

    border-radius:50%;

    border:

    2px solid rgba(255,210,0,.35);


    animation:
    rotateRing 8s linear infinite;

}


@keyframes rotateRing{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}



.coin.tap{

    animation:
    coinTap .18s ease;

}



@keyframes coinTap{

    0%{
        transform:scale(1);
    }

    45%{
        transform:scale(.88) rotate(3deg);
    }

    100%{
        transform:scale(1);
    }

}

/* حركة نقص الطاقة */

.energy-hit{

    animation: energyFlash 0.4s ease;

}


@keyframes energyFlash{

    0%{
        transform: scaleY(1);
        filter: brightness(1);
    }

    40%{
        transform: scaleY(0.5);
        filter: brightness(2.5);
    }

    70%{
        transform: scaleY(1.1);
        filter: brightness(1.5);
    }

    100%{
        transform: scaleY(1);
        filter: brightness(1);
    }

}



/* حركة الضغط على الكرة */

.tap-effect{

    transform:scale(.92);

}

#energyBar{
    transition: width .4s ease;
}


.damage{

    animation: energyLoss .4s ease;

}


@keyframes energyLoss{

    0%{
        transform:scaleX(1);
        filter:brightness(1);
    }


    50%{
        transform:scaleX(.92);
        filter:brightness(2);
    }


    100%{
        transform:scaleX(1);
        filter:brightness(1);
    }

}

.energy-recharge{
    animation: recharge 0.5s ease;
}

@keyframes recharge{

    0%{
        filter:brightness(1);
    }

    50%{
        filter:brightness(2);
    }

    100%{
        filter:brightness(1);
    }

}
